*,
html {
  padding: 0;
  margin: 0;
}

.allPosts {
  display: flex;
}

.allPosts div {
  margin: 0 1rem 4rem 0;
}

.allPosts div img {
  max-height: 180px;
}

.postGlobalContainer {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.postContainer {
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  border-radius: 10px;
  background: whitesmoke;
}

.postTitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.postDate {
  text-align: right;
  font-size: 14px;
  color: gray;
  font-style: italic;
}

.postImage {
  margin: 25px 0;
}

.commentGlobalContainer {
  margin-top: 70px;
}

.commentContainer {
  padding: 15px 25px 5px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: whitesmoke;
}

.commentContent {
  margin-left: 15px;
  font-size: 16px;
}

.commentDate {
  text-align: right;
  font-size: 12px;
  color: gray;
  font-style: italic;
}

.commentAuthor {
  font-size: 18px;
  font-weight: 600;
}

.author {
  pointer-events: none;
  height: 0;
  opacity: 0;
}